<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Juni Bot | Add Bot</title>

    <!--- MetaDatas --->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--- Favicons -->
    <link rel="apple-touch-icon" href=".<%= siteData.domain %>/assets/images/favicon.png" sizes="180x180">
    <link rel="icon" href="<%= siteData.domain %>/assets/images/favicon.png" type="image/png">
    <meta name="theme-color" content="blue">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_small_image">
    <meta name="twitter:site" content="@liontech">
    <meta name="twitter:creator" content="@liontech">
    <meta name="twitter:title" content="Juni Bot | Izem Lab">
    <meta name="twitter:description"
        content="Um simples bot multifuncional para o seu servidor Discord! Deixe o seu servidor muito mais divertido e organizado com o Juni!">
    <meta name="twitter:image" content="<%= siteData.domain %>/assets/images/favicon.png">

    <!-- Facebook -->
    <meta property="og:url" content="<%= siteData.domain %>">
    <meta property="og:title" content="Juni Bot | Izem Lab">
    <meta property="og:description"
        content="Um simples bot multifuncional para o seu servidor Discord! Deixe o seu servidor muito mais divertido e organizado com o Juni!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%= siteData.domain %>/img/banner.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="80">
    <meta property="og:image:height" content="80">
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="loader">
                <div class="dot"></div>
            </div>
            <div class="loader">
                <div class="dot"></div>
            </div>
            <div class="loader">
                <div class="dot"></div>
            </div>
            <div class="loader">
                <div class="dot"></div>
            </div>
            <div class="loader">
                <div class="dot"></div>
            </div>
            <div class="loader">
                <div class="dot"></div>
            </div>
        </div>
        <div class="text">
            Please wait
        </div>
    </div>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            text-align: center;
            background: #0079d7;
        }

        .container {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .wrapper {
            position: absolute;
            top: -35px;
            transform: scale(1.5);
        }

        .loader {
            height: 25px;
            width: 1px;
            position: absolute;
            animation: rotate 3.5s linear infinite;
        }

        .loader .dot {
            top: 30px;
            height: 7px;
            width: 7px;
            background: #fff;
            border-radius: 50%;
            position: relative;
        }

        .text {
            position: absolute;
            bottom: -85px;
            font-size: 25px;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;
            color: #fff;
        }

        @keyframes rotate {
            30% {
                transform: rotate(220deg);
            }

            40% {
                transform: rotate(450deg);
                opacity: 1;
            }

            75% {
                transform: rotate(720deg);
                opacity: 1;
            }

            76% {
                opacity: 0;
            }

            100% {
                opacity: 0;
                transform: rotate(0deg);
            }
        }

        .loader:nth-child(1) {
            animation-delay: 0.15s;
        }

        .loader:nth-child(2) {
            animation-delay: 0.3s;
        }

        .loader:nth-child(3) {
            animation-delay: 0.45s;
        }

        .loader:nth-child(4) {
            animation-delay: 0.6s;
        }

        .loader:nth-child(5) {
            animation-delay: 0.75s;
        }

        .loader:nth-child(6) {
            animation-delay: 0.9s;
        }
    </style>

    <script>
        setTimeout(() => {
            window.location.replace(`https://discord.com/api/oauth2/authorize?client_id=856248845767540788&permissions=8&redirect_uri=https%3A%2F%2F8000-migplayer6032-carlosbot-joi34ngpdom.ws-us46.gitpod.io%2Fauth&response_type=code&scope=applications.commands%20bot`)
        }, 5000)
    </script>
</body>

</html>